.navbar{    
    position: fixed;
    width: 100vw;   
    top: 0vw;   
    padding: 0vw;
    z-index: 3;
    
    .container-fluid{
        background-color: white;
        padding: 0vw;
    
    }
    .row{
        margin-left: 0vw;
        width: 100%;       
    }        
    
    #row1{
        background-color: black;
        p{
            display: block;
            color: white;
            margin-top: 0.1vw;
            margin-bottom: 0.2vw;     
            text-align: center;
            font-family: $fontStackA;
            font-size: 0.8vw;
            font-weight: bold;
        }
    }
    
    .col-md-3{           
        a{  
        display: inline-block;    
        margin-left: 1.4vw;                     
        font-family: $fontStackB;
        font-size: 1.2vw;              
        }
    }
            
    $a-links:'a, a:link, a:active, a:visited';
    #{$a-links}{
        text-decoration: none;
        color: black;        
    }   
       
    a:hover{
        text-decoration: none;
        color: $fontGrayB;
    }  
    
    h1{
        display: inline-block;
        margin: 1vw 2vw;        
        font-family: $fontStackB;
        font-size: 2.2vw;
        color: black;
    }
    
    col-md-6{
        a{
            display: block;
            margin: auto;
        }
    }
    
    img{
        display: block;
        width: 5vw;
        margin: auto;
        margin-top: 1vw;
    }
    
    #rightNav{
        a{
            margin: 4vw 1.5vw; 
            margin-bottom: 0vw;
        }
    }
}