footer{    
    .col-6{
        @include xs{
            margin-top: 10vw;
        }
        @include md{
            margin-top: 5vw;
        }
    }    
    
    img{
        display: block;
        margin: auto;   
        width: 35%;       
    }
    
    #logoText{
        display: block;
        margin: auto;        
        text-align: center;
        font-weight: bold;
        font-family: $fontStackB;
                
        @include xs{
            font-size: 4vw;                
        }
        @include md{
            font-size: 2.5vw;                   
        }
         @include lg{
            font-size: 2vw;
        }
    }
    
    h2{        
        font-family: $fontStackA;
                
        @include xs{
            font-size: 4vw;    
            text-align: center;
        }
        @include md{
            font-size: 2.5vw;
            text-align: left;        
        }
        @include lg{
            font-size: 2vw;
        }
    }
    
    p{
        display: block;
        margin: auto;        
        font-family: $fontStackB;
        font-size: 2.6vw;
        
        @include xs{
            font-size: 3vw;    
            text-align: center;
        }
        @include md{
            font-size: 1.5vw;
            text-align: left;        
        }
        @include lg{
            font-size: 1.2vw;
            text-align: left;        
        }
    }
    
    $a-links:'a, a:link, a:active, a:visited';
    #{$a-links}{
        text-decoration: none;
        color: black;
    }   
       
    a:hover{
        text-decoration: none;
        color: $fontGrayB;
    }  
    
    #socialMedia{        
        align-content: center;
        img{
            display: inline-block;           
            
            @include xs{
                width: 30%;
                margin: auto;                
            }
            @include md{
                width: 25%;
                margin-left: 0.3vw;
                margin-top: 0.2vw;
            }
            @include lg{
                width: 20%;                
            }
        }
    }
    
    #line{
        height: 0.2vw;
        width: 90vw;
        margin: auto;        
        background-color: $blockGrayB;
            
        @include xs{
            margin-top: 5vw;       
        }
        @include md{
            margin-top: 0.5vw;       
        }
        @include lg{
            margin-top: 2vw;       
        }
    }
    
    .footnote{       
        font-family: $fontStackA;        
        
        @include xs{
            margin: 3vw 5vw;   
            display: block;
            font-size: 3vw;
            float: none;
            text-align: center;
        }
        @include md{
            margin: 1vw 5vw;   
            display: inline-block;
            font-size: 1.5vw;
            float: left;
        }
        @include lg{
            font-size: 0.7vw;
        }
    }
    
    #footnote2{           
        @include xs{
            display: block;
            float: none;
            text-align: center;
        }
        @include md{
            display: inline-block;
            float: right;
        }
    }
}