$screen-sm-min: 320px;
$screen-sm-max: 767px;
$screen-md-min: 768px;
$screen-md-max: 991px;
$screen-lg-min: 992px;

$fontStackA:  'Oswald', sans-serif;
$fontStackB: 'Open Sans', sans-serif;

$fontGrayA: rgb(230,230,230);
$blockGrayA: rgb(120,120,120);

@import '_ecommerceNaV';




