$screen-sm-min: 320px;
$screen-sm-max: 767px;
$screen-md-min: 768px;
$screen-md-max: 991px;
$screen-lg-min: 992px;

$fontStackA:  'Oswald', sans-serif;
$fontStackB: 'Open Sans', sans-serif;

$fontGrayA: rgb(230,230,230);
$fontGrayB: rgb(200,200,200);
$blockGrayA: rgb(120,120,120);

@import '_ecommerceNaV';

body{
    overflow-x: hidden;
}

.main1{
    padding: 3vw 0vw;
        
    img{
        display: block;
        margin: auto;
    }
    
    p{
        display: inline-block;
        margin: 1vw 2vw;   
        text-align: center;
        font-family: $fontStackA;
        font-weight: bold;
        font-size: 1.6vw;
        color: black;
    }
}


