$screen-sm-min: 320px;
$screen-sm-max: 767px;
$screen-md-min: 768px;
$screen-md-max: 991px;
$screen-lg-min: 992px;

$fontStackA:  'Oswald', sans-serif;
$fontStackB: 'Open Sans', sans-serif;

$fontGrayA: rgb(230,230,230);
$fontGrayB: rgb(200,200,200);
$blockGrayA: rgb(250,250,250);
$blockGrayB: rgb(120,120,120);

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@import '_ecommerceNaV';

body{
    overflow-x: hidden;
}

#main1{
    margin-top: 7.35vw;
    padding: 3vw 0vw;
    background-color: $blockGrayA;
        
    img{
        display: block;
        margin: auto;
    }
    
    h2{
        display: inline-block;
        margin: 1vw 2vw;   
        text-align: center;
        font-family: $fontStackA;
        font-weight: bold;
        font-size: 1.6vw;
        color: black;
    }
}

#main2{   
    height: 56.3vw;
    p{
        position: relative;
        top: -50vw;
        left: 10vw;
        padding: 0.7vw;  
        width: 28vw;
        background-color: white;
        text-align: left;
        font-family: $fontStackA;
        font-weight: bold;
        font-size: 1.4vw;
        color: black;
    }
    #shop{
        position: relative;
        top: -48vw;
        left: 10vw;
        padding: 0.3vw 1vw;
        border: 0.1vw solid white;
        background-color: $blockGrayB;
        color: white;
        font-family: $fontStackA;
        font-weight: bold;
        font-size: 1.4vw;
        &:hover{
            color: black;
            border-color: black;
            background-color: white;  
            cursor:pointer;
        }
    }
}

#brands{
    padding: 3vw;
    background-color: white;
    h3{
        text-align: center;
        font-family: $fontStackA;
        font-weight: bold;
        margin-bottom: 1.5vw;
    }
    p{
        display: block;
        color: black;
        margin-top: 1.5vw;
        margin-bottom: 0.2vw;     
        text-align: center;
        font-family: $fontStackB;
        font-size: 1vw;        
    }
    col-md-2{
        padding: auto;
        align-content: center;
    }
    
    img{        
        width: 10.4vw;    
        @include vertical-align();   
    }
    
    #logos{
        background-color: white;
    }
}
    
#main3{
    padding: 5vw 0vw;
    background: linear-gradient(to bottom right, gray, white);
    
    h2{
        text-align: center;
        margin-bottom: 2vw;
        padding: 0.5vw 0vw;
        color: white;
        background-color: rgba(100,100,100, 0.8);
        border: 0.2vw solid white;
        border-radius: 0.5vw;
    }
}

#splashCarousel{
    border: 0.3vw solid white;
    border-radius: 0.5vw;
}

#grayGradientA {
  background: linear-gradient(to bottom right, white, $blockGrayA);
}

